.cards {
  display: flex;
  justify-content: center;
}
.actions h2 {
  text-align: center;
}
.actions img {
  width: 100%;
}
.card {
  width: 200px;
  margin: 0px 45px 45px 0px;
  padding: 30px;
  box-shadow: 0 0 5px rgb(230,230,230);
  border: 1px solid rgb(230, 230, 230);
  text-align: center;
}
